/////////////////////////////////////////////
//                                         //
//    Copyright (C) 2019-2019 Julian Uy    //
//  https://sites.google.com/site/awertyb  //
//                                         //
//   See details of license at "LICENSE"   //
//                                         //
/////////////////////////////////////////////

#include "windows.h"

#define MACRO_TO_STRING(x) #x

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "041104b0"
BEGIN
VALUE "Comments", "Source code for the latest version of this product is located on the World Wide Web at https://github.com/uyjulian/ifavif"
VALUE "FileDescription", "AVIF Plugin for Susie Image Viewer"
VALUE "FileVersion", MACRO_TO_STRING(GIT_TAG)
VALUE "InternalName", "ifavif"
VALUE "LegalCopyright", "Copyright (C) 2019-2019 Julian Uy; This product is licensed under the MIT license."
VALUE "OriginalFilename", "ifavif.spi"
VALUE "ProductName", "AVIF Plugin for Susie Image Viewer"
VALUE "ProductVersion", MACRO_TO_STRING(GIT_TAG)
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x411, 1200
END
END
